* {
	margin: 0;
	padding: 0;
	color: #242424;
}
nav {
	font-size: 24px;
	margin: 0 3%;
	padding: 2% 0;
}
nav > a {
	color: ;
	font-size: 36px;
	letter-spacing: -5px;
	text-decoration: none;
}
nav ul {
	display: inline-block;
	margin-left: 10%;
}
nav li {
	display: inline-block;
	margin: 0 10px;
}
nav li > a {
	text-decoration: none;
}
nav span {
	float: right;
	margin: 10px 0;
}

/*
	HEADER
*/
header {
	
}